*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size: 100%
}

body {
    /* font-family: 'Righteous', cursive; */
    /* background-color: #806367; */
    color: rgb(70, 70, 70);
    scroll-behavior: smooth;
    padding: 15px 30px;
}

.page-title {
    margin-bottom: 30px;
    text-align: center;
}


.quiz-option {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
}

.quiz-option > div {
    cursor: pointer;
    width: 100%;
    height: 300px;
    color: beige;
    text-align: center;
    /* background-color: black; */
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 7px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.quiz-option .div1{
    background-image: url("./images/caspar-camille-rubin-fPkvU7RDmCo-unsplash.jpg");
}

.quiz-option .div2{
    background-image: url("./images/Cruise\ Ship.jpg");
}

.quiz-option .div3{
    background-image: url("./images/green-and-gray-evergreen-cargo-ship-1117210.jpg");
}

.quiz-option.short {
    min-height: fit-content;
    align-items: flex-start;
}

.quiz-option > div.short {
    cursor: pointer;
    height: auto;
    text-align: left;
}

.ans-option {
    margin-top: 5px;
    margin-left: 20px;
    padding: 3px;
    cursor: pointer;
}

.question {
    margin-top: 20px;
    border-bottom: 1px solid gainsboro;
    padding: 5px;
}

#scoreBtn {
    margin-top: 30px;
    cursor: pointer;
}

.ans-option.add-border {
    border: 1px dotted grey;
}

@media screen and (min-width: 500px) {
    .quiz-option > div {
        width: 48%;
    }
}


@media screen and (min-width: 768px) {
    .quiz-option > div {
        width: 32%;
    }
}