*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size: 100%
}

body {
    font-family: 'Inter', sans-serif;
    color: rgb(70, 70, 70);
    scroll-behavior: smooth;
    padding: 30px;
}

.page-title {
    margin-bottom: 30px;
    text-align: center;
}

.page-title h1 {
    font-family: 'Staatliches', cursive;
    line-height: 35px;
    margin-bottom: 10px;
    color: rgb(80, 80, 80);
}

.page-title p {
    color: rgb(92, 92, 92);
    font-size: 1.2rem;
    line-height: 25px;
}

button {
    border: 1px solid gray;
    padding: 9px;
    text-transform: capitalize;
    border-radius: 7px;
    cursor: pointer;
    background-color: rgb(219, 217, 217);
}

button:hover {
    opacity: 0.9;
}


.quiz-wrapper {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
}

.quiz-wrapper>div {
    cursor: pointer;
    width: 100%;
    height: 300px;
    color: beige;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.445);
    background-blend-mode: soft-light;
    background-size: cover;
    border-radius: 7px;
    margin-bottom: 7px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.quiz-wrapper p {
    opacity: 0.9;
    margin-top: 7px;
}

.quiz-wrapper .div1 {
    background-image: url("./images/frontend.jpg");
}

.quiz-wrapper .div2 {
    background-image: url("./images/maritime.jpg");
}

.quiz-wrapper .div3 {
    background-image: url("./images/engineering.jpg");
}

.quiz-wrapper.short {
    min-height: fit-content;
    align-items: flex-start;
}

.quiz-wrapper>div.short {
    cursor: pointer;
    height: auto;
    text-align: left;
}

.ans-option {
    margin-top: 5px;
    margin-left: 20px;
    padding: 3px;
    cursor: pointer;
}

.question {
    margin-top: 20px;
    border-bottom: 1px solid gainsboro;
    padding: 5px;
}

#scoreBtn {
    margin-top: 30px;
    cursor: pointer;
}

.ans-option.add-border {
    border: 1px dotted grey;
}

.container {
    display: none;
}

.container.display {
    display: block;
}

.qtn-inner.flex {
    display: flex;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 25px;
}

.message.pass {
    color: green;
}

.message.fail {
    color: red;
}

@media screen and (min-width: 500px) {
    .quiz-wrapper>div {
        width: 48%;
    }
}


@media screen and (min-width: 768px) {
    .quiz-wrapper>div {
        width: 32%;
    }

    .page-title h1 {
        font-size: 2.5rem;
    }

    .page-title p {
        font-size: 1.5rem;
    }
}